body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    color: #222;
    line-height:100%;
}

#itinerary {
    border-spacing: 0;
    border: 0.5px solid #222;
}

#itinerary > caption {
    text-align: left;
    margin-bottom: 8px;
}

#itinerary > thead > tr > th {
    text-align: left;
    padding: 12px 4px;
    color: white;
    background-color: #222;
}

#date {
    width: 8rem;
}

#time {
    width: 8rem;
}

#topic {
    width: 24rem;
}

#itinerary > tbody > tr > td {
    padding: 8px 4px;
    border-bottom: 0.5px solid #222;
}

#itinerary > tfoot > tr > td {
    padding: 8px 4px;
}